*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $font-size;
	font-family: $font-family;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	body {
		padding-top: 1em;
	}
}